header{
    background-color: red;
  
    
}
nav{
    display: flex;
    justify-content: space-between;
}
div{
    display: flex;
}
h1{

background-color: rgb(92, 189, 231);

}
p{
    display: flex;
    background-color: rgb(120, 128, 128);
}
img{
border-radius: 50%;
background-color:rgb(120, 128, 128);
padding: 30px;
width: 150px;
}